<html>
<title>Sign in</title>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
 <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<body>
<br>
<hr>
<br>
<div ng-app="opt" ng-controller="controller">


<font size="20"><center>Sign in to an account</center></font>
<br><center><p>User Name: <input type="text" ng-model="uname">  
<br>
<center><p>Password: <input type="password" ng-model="pword"><br><br>
<select  ng-model="selectedName" ng-options="x for x in names"></select><br>
<br>
User Name: {{uname}}
<br><br>
<a href="index.html" data-toggle="tooltip" title="Currently the login doesn't work :("><i>Hover over me:</i></a>
</center>
</div>
<div class="container">
	<br><br><br>
  <h2>Accounts</h2>
  <ul class="list-group">
    <li class="list-group-item">Super User Accounts <span class="badge">1</span></li>
    <li class="list-group-item">Administrator Accounts <span class="badge">4</span></li>
    <li class="list-group-item">User Accounts <span class="badge">16</span></li>
    <li class="list-group-item">Guest Accounts <span class="badge">27</span></li>
  </ul>
</div>
<script>
	var app=angular.module('myApp',[]);
	app.controller('myCtrl',function($scope){
		$scope.uname="UserName";
		});
		
	var option=angular.module('opt',[]);
	option.controller("controller",function($scope){
		$scope.names=["Sign in","Logout","Hint","Create a new account","Reset password","Forgot password"];
		});
	
	$(document).ready(function(){
		$('[data-toggle="tooltip"').tooltips();
		});
</script>
</body>
</html>
